.version.index {
  color: #000004;
  background-color: #1a8659;
}

#page {
  z-index: 1;
  min-height: 438px;
  background-image: none;
  border-width: 0px;
  border-color: #000000;
  background-color: transparent;
  padding-bottom: 62px;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

#u100 {
  z-index: 2;
  background-color: transparent;
  position: relative;
  margin-right: -10000px;
  margin-top: 62px;
  width: 37.75%;
  left: 7.5%;
}

#u100_img {
  width: 100%;
}

#u110-29 {
  z-index: 4;
  display: block;
  vertical-align: top;
  position: relative;
  margin-right: -10000px;
  margin-top: 58px;
  width: 37.82%;
  left: 55.07%;
}

.css_verticalspacer .verticalspacer {
  height: calc(100vh - 927px);
}

#muse_css_mq,
.html {
  background-color: #ffffff;
}

body {
  position: relative;
  min-width: 320px;
}
