//output:cv.html
doctype html
html(lang='en').maxheight
  head
    meta(charset='utf-8')
    title Klasse Grcic: Giacomo Frey - Works
    meta(name='description' content="Giacomo Frey's portfolio")
    meta(name='author' content='Giacomo Frey')
    link(rel='stylesheet' type='text/css' href='header.css')
    link(rel='stylesheet' type='text/css' href='utils.css')
    link(rel='stylesheet' type='text/css' href='cv-colors.css')
    link(rel='stylesheet' type='text/css' href='cv-layout.css')
      
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript').
      $.get('header.html',function(response){
      $('#header').html(response);
      });
    script(type='text/javascript').
      $.get('slider.html',function(response){
      $('#slider').html(response);
      });
  body
    #header
    .canvas
      .img-fill.img1.only-desktop
        img(src="https://static.wixstatic.com/media/69d310_218bf4ff628b43b18f8ab6f0de34c9c6~mv2.jpg")
      .half-fill.only-mobile
        img(src="https://static.wixstatic.com/media/69d310_8209980eaef349d1842a4de6e001eb50~mv2.png")
      .text-fill.textbox1.b-grey
        .bottom-2m.highlight-text Hier steht bald ein Lebenslauf
        .normal-text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                
        



        
