h1 {
  font-family: Lexend;
  font-size: clamp(20px, 1vw, 30px);
  font-weight: 300;
  color: rgb(203, 161, 53);
  margin-top: 1vw;
}

h2 {
  font-family: Lexend;
  font-size: clamp(20px, 1vw, 30px);
  font-weight: 200;
  color: #ccc;
}

a{
  text-decoration:none;
}
