//output:klassegrcic.html
doctype html
html(lang='en').maxheight
  head
    meta(charset='utf-8')
    title Klasse Grcic: Giacomo Frey - Works
    meta(name='description' content="Giacomo Frey's portfolio")
    meta(name='author' content='Giacomo Frey')
    link(rel='stylesheet' type='text/css' href='header.css')
    link(rel='stylesheet' type='text/css' href='utils.css')
    link(rel='stylesheet' type='text/css' href='klassegrcic.css')
      
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript').
      $.get('header.html',function(response){
      $('#header').html(response);
      });
    script(type='text/javascript').
      $.get('slider.html',function(response){
      $('#slider').html(response);
      });
  body
    #header
    .flex-centering.top-4m
      .flex-introduction Hinweis: Die folgenden Links leiten weiter auf Klassegrcic.de
      .flex-minigap
      .flex-container
        .flexbox1.hauptseite
          a(href ='https://klassegrcic.de') 
            .flex-text Hauptseite
        .flexbox1.studierende
          a(href ='https://klassegrcic.de/studierende') 
            .flex-text Studierende
      .flex-gap
      .flex-container
        .flexbox1.alumni
          a(href ='https://klassegrcic.de/alumni')  
            .flex-text Alumni
        .flexbox1.ausstellungen
          a(href ='https://klassegrcic.de/ausstellungen')  
            .flex-text Ausstellungen
  

                
        



        
