:root {
  --backgroundcolor: #212121;
  --fontcolor: #ccc;
  --fonthovercolor: #8254ff;
  --menubackgroundcolor: #ccc;
  --menutextcolor: #212121;
  --highlightcolor: rgb(203, 161, 53);
}

.GRCIC {
  color: var(--highlightcolor) !important;
  text-decoration: underline !important;
}

body {
  background-color: var(--backgroundcolor);
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
}

a:hover {
  color: var(--fonthovercolor) !important;
  transition: 0.5s all ease;
}

.font-menu {
  color: var(--fontcolor)
}

.font-title {
  color: var(--fontcolor)
}

.mobile-font {
  color: var(--fontcolor)
}

.mobilemenu a {
  color: var(--menutextcolor)
}

.mobilemenu a:hover {
  color: var(--fonthovercolor)
}

.mobilemenu nav {
  background-color: var(--menubackgroundcolor);
}

#menuToggle span {
  background-color: var(--menubackgroundcolor);
}

#menuToggle input:checked ~ span {
  background-color: var(--menutextcolor);
}

#menu {
  background-color: var(--menubackgroundcolor);
}

.portrait{
  background-image: url(https://static.wixstatic.com/media/69d310_8209980eaef349d1842a4de6e001eb50~mv2.png);
  background-size: cover;
}

.flex-centering{
  display: flex;
  height: 85vh;
  width:100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.flex-container{
  width: 98vw;
  height: 46vw;
  display: flex;
  max-height: 36vh;
  max-width: 90vh;
}

.flex-introduction{
  height: 5vw;
  max-height: 5vh;
  font-family:Lexend;
  color: var(--fontcolor);
  text-transform: uppercase;
}

.flex-minigap{
  height: 1.5vw;
  max-height: 1.5vh;
}

.flex-gap{
  height: 3vw;
  max-height: 3vh;
}

.flexbox1{
  width: 45%;
  border-color: var(--fontcolor) !important;
  border-width: 1px;
  margin-left: 3.2%;
}

.flexbox1 a {
  height: 100%;
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color: var(--fontcolor);
  transition: 0.5s all ease;
}

.flexbox1 a:hover{
  background-color: transparent;
}

.flexbox1:hover{
  scale: 1.02;
  transition: 0.5s all ease;
  border-color: var(--fonthovercolor) !important;
}

.flex-text{
  display:flex;
  font-family: Lexend;
  text-align: center;
  width: 70%;
}
