//output:lingua-cosmica.html
doctype html
html(lang='en').maxheight
  head
    meta(charset='utf-8')
    title Klasse Grcic: Giacomo Frey - Works
    meta(name='description' content="Giacomo Frey's portfolio")
    meta(name='author' content='Giacomo Frey')
    link(rel='stylesheet' type='text/css' href='header.css')
    link(rel='stylesheet' type='text/css' href='utils.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript').
      $.get('header.html',function(response){
      $('#header').html(response);
      });
    script(type='text/javascript').
      $.get('slider.html',function(response){
      $('#slider').html(response);
      });
    body
      #header
      -
        var postimageurl = [
          'https://static.wixstatic.com/media/69d310_689c74898d2a4fcfa1b81941ffa5d5ce~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_519ce59c8cdb4fcab01eee4123cc414b~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_6fffc119d7494c19ac2b23d06de38b21~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_9cf7359828834e8aad2dfe6fb1c14577~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_9c5e930cfdff4cca893f7114034e467c~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_0e68f948bf594346ace97c1d3e4ce111~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_cf76b1e14ea4427e842fda61b28aa000~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_c5da241430cb4babafe3be31ea017146~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_186658398f7c4deb88d2afe79ba43899~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_7632fb05bbc44f718de9eb78394ba6f4~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_8e9748c7380f4ac0923195196d378505~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_283874ff006f474881d540bbaa600679~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_3a92716ecf984a92b41b4e6bb3e06a41~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_697745f3798a4cd0a982e14104eda0a5~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_535ad51199a14c2dab19c2ea90d59c19~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_f9fb7a1477bc49f4b5b43c0b33b251ec~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_e1fc3b4d859d498e8f70685477a7e585~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_c3f88d55080b46f3880f0ea69fa58d64~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_5f3f1bffd14941b5b3213e09643a39be~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_d0c8d16d14de4aa48fd59a7783c9da94~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_db23e94597eb48ce96e7f18c06fb8c2e~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_9da20ca6350a4ade8a5adde95ba76071~mv2.jpg'
        ]
      -
      .center.flex
        .two-column.inline-block.leftright-4m.bottom-4m
          - for (var x = 0; x < postimageurl.length; x++)
            .hover.inline-block.top-4m.bottom-4m.fullwidth
              a(href=postimageurl[x])
                img.fullwidth(src=postimageurl[x])
    

                
        



        
