//output:lingua-cosmica-holzlager.html
doctype html
html(lang='en').maxheight.border
  head
    meta(charset='utf-8')
    title Klasse Grcic: Giacomo Frey - Works
    meta(name='description' content="Giacomo Frey's portfolio")
    meta(name='author' content='Giacomo Frey')
    link(rel='stylesheet' type='text/css' href='header.css')
    link(rel='stylesheet' type='text/css' href='utils.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript').
      $.get('header.html',function(response){
      $('#header').html(response);
      });
    script(type='text/javascript').
      $.get('slider.html',function(response){
      $('#slider').html(response);
      });
    body
      #header
      -
        var postimageurl = [
          'https://static.wixstatic.com/media/69d310_7bd442dc23b5494db651640ac7a0157a~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_f968a354763242ef8c3843a24aaa0089~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_fce8c2ea045549e98c49397cb457c844~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_1f2d95001d384ef98a1e61ee50a913a4~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_651cb0cb68954ea3a890d8f0503c3551~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_17fdd2a10e7c4f0094a8e94a498a4116~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_4b0bed7f19ad456ab54c05e50e5615ea~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_ec2fbbac32bf4710ad0fb2459ea1932c~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_aa944d21f9d04c21a295978321870e80~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_cfc80417b1ba4046b6e65e0f461b3cc0~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_39856a24c9c448538e1efcf55321e081~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_41bcfd5840664a25851133bd67076d64~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_028d619ce4164882993fef94762169dd~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_d9b4b58f668242d38908d13345604734~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_c1e2446e6c524769928ff746c9b7defd~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_8d76a4827c954f0fb64bea24b588ec43~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_5d04ba842f9d41a2a59103f5d9276a53~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_0f0d31927d904b70a85f32000072681f~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_d78d3b53eef04292acd250a377c114a0~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_f54eaed8039a45aeb4b57255bff3fd5e~mv2.jpg'
        ]
      .center.flex
        .two-column.inline-block.leftright-4m.bottom-4m
          - for (var x = 0; x < postimageurl.length; x++)
            .hover.inline-block.top-4m.bottom-4m.fullwidth
              a(href=postimageurl[x])
                img.fullwidth(src=postimageurl[x])
    

                
        



        
