.mobile-font{
  font-family: Archivo Black;
  text-transform: uppercase;
  color: #ccc;
  font-size: 7vw;
  text-decoration:none;
  line-height: 0.70
}

.mobilemenu a {
  text-decoration: none;
  color: var(--mobilemenu-fontcolor);
  opacity:1;
  font-family: Lexend;
  font-size: 5vh;
  font-weight: 400;
  transition: 200ms;
  margin-left: 6vw;
}
.mobilemenu a:hover {
  color: #8254ff;
}
.mobilemenu ul {
  padding: 0;
  list-style-type: none;
}

.mobilemenu nav {
	  background-color: ccc;
	}

#menuToggle {
	  position: relative;
	  z-index: 1;
	  -webkit-user-select: none;
	  user-select: none;
    margin-right: 2vw;
    margin-left: 4vw;
	}

#menuToggle span
	{
    display: flex;
    width: 5vw;
    height: 0.7vw;
    margin-bottom: 1.4vw;
    position: relative;
    background: #ccc;
    z-index: 1;
    transform-origin: 0px 0px;
    transition:
      transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
      opacity 0.55s ease;
	}


#menuToggle input
	{
	  display: flex;
	  width: 5vw;
	  height: 5vw;
	  position: absolute;
	  cursor: pointer;
	  opacity: 0;
	  z-index: 2;
	}

	#menuToggle span:first-child
	{transform-origin: 0% 0%;}

	#menuToggle span:nth-last-child(2)
	{transform-origin: 0% 100%;}

	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-3px, -1px);
	  background: #212121;
	}
	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

	#menuToggle input:checked ~ span:nth-last-child(2)
	{transform: rotate(-45deg) translate(0, -1px);}

	#menu
	{
	  position: absolute;
	  width: 91vw;
	  height: 91vh;
	  box-shadow: 0 0 10px #85888C;
		padding: 7vw;
		padding-top: 18vw;
	  margin: -12vw 0 0 -12vw;
	  background-color: #ccc;
	  -webkit-font-smoothing: antialiased;
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu li
	{
		position: relative;
	  padding: 3vw;
		width: 100%;
	}

	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
