@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Lexend:wght@100;200;300;400;500&display=swap");

* {margin: 0px; padding: 0px; position: relative;}

body {background-color: #212121;}

.indicator{
  background-color:yellow;
  position: fixed;
  width: 2vw;
  height: 2vw;;
  left: 4vw;
  top: 4vw;
  z-index:100;
}

.font-menu {
  font-size: clamp(12px, 1vw, 33px);
  font-family: Lexend;
  text-transform: uppercase;
  text-decoration: none;
  color: #ccc;
  transition: 0.5s all ease;
}
.font-title {
  font-size: clamp(35px, 3vw, 80px);
  margin-left: -0.2vw;
  font-family: Archivo Black;
  text-transform: uppercase;
  text-decoration: none;
  color: #ccc;
  transition: 0.5s all ease;
}
h1 {
  font-family: Lexend;
  font-size: clamp(20px, 1vw, 30px);
  font-weight: 300;
  color: rgb(203, 161, 53);
  margin-top: 1vw;
}
h2 {
  font-family: Lexend;
  font-size: clamp(20px, 1vw, 30px);
  font-weight: 200;
  color: #ccc;
}

.menu > * {display: inline; margin-right: 1.5vw;}
