//output:textura.html
doctype html
html(lang='en').maxheight
  head
    meta(charset='utf-8')
    title Klasse Grcic: Giacomo Frey - Works
    meta(name='description' content="Giacomo Frey's portfolio")
    meta(name='author' content='Giacomo Frey')
    link(rel='stylesheet' type='text/css' href='header.css')
    link(rel='stylesheet' type='text/css' href='utils.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(type='text/javascript').
      $.get('header.html',function(response){
      $('#header').html(response);
      });
    script(type='text/javascript').
      $.get('slider.html',function(response){
      $('#slider').html(response);
      });
    body
      #header
      -
        var postimageurl = [
          'https://static.wixstatic.com/media/69d310_e6cfd780e59c49f9bb3d2a368814b157~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_d1a5b1fe0e2a4f92b13921f88e95fbe8~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_38c5d5e0d99849afbd6c332fa2f3e8f7~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_4dcf38d80249411aa331fba75af95663~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_3338d54923f546b1950a5eb0b0deee19~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_2fd094ca33f74eed89f9fe784d9453f1~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_d69f4ba1f93d46feac3c1f9dc26f74c4~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_dc686dda1f6f4a98836484039dd79d42~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_bd0ada60acd64efdb15e00e89a2a20d7~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_999c9428a64a44ceace6efa8b89a6903~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_4a89d17228834e6c8cae77ee2fa7ac40~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_9c1a9dc236224ade9dd0ad298bb9f31e~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_50af18ad221c434d8630150b5e840906~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_fe334e42157f434d948f869ea70e2ca3~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_a35f10dcc0624c468c498c557c4f38ca~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_1a5310c3a85c4b97ad6d481383fcfd50~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_243029fb50424c708b52f5e0e568f76f~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_7e018048d4164e8b849c29bc78590bca~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_20ead54a3e0d4f6e8388702e2c352006~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_9c9df22d11254460ac9bcba2dd033be6~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_83d1317bf3e744cbaa0bf32884a439e2~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_1220f5cd0b1b4c859231cee35e56b384~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_b16658114e454659a4a7d0431a6d0c12~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_08ad91c9823147fc8e8b96d73e5ad974~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_12fc441298904062888f5e1624b2603e~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_98ef47aebb1040a1ab64b8717dc05560~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_216d48af37944aa0bcdb2a0c45655198~mv2.jpg',
          'https://static.wixstatic.com/media/69d310_75ae4780be9c4384ba9437c8a77c0073~mv2.jpg'
        ]
      .center.flex
        .two-column.inline-block.leftright-4m.bottom-4m
          - for (var x = 0; x < postimageurl.length; x++)
            .hover.inline-block.top-4m.bottom-4m.fullwidth
              a(href=postimageurl[x])
                img.fullwidth(src=postimageurl[x])
    

                
        



        
